.heading {
  font-family: "Monaco", "Courier New";
  color: white;
  margin-top: 2%;
  margin-left: 3%;
}

.answer {
  font-family: "Monaco", "Courier New";
  color: wheat;
  margin-left: 5%;
}

.inner {
  margin-left: 7%;
}

.menuList {
  list-style: none;
  text-align: center;
  -webkit-padding-start: 0px;
  min-height: 6vh;
}

.anchorMenu {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.collegeDetails{
  filter: grayscale(100%) !important;
}

.collegeDetailsOut{
  filter: grayscale(0%) !important;
  color: #b81c02 !important
}

.skill{
  border: 1px solid #50a9d1;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 1%;
}

.edu{
  border: 1px solid #86BE91 !important;
}

.imgMain{
    background-image: url("../../assets/img/programmer-1.jpg");
    width:100%;
    min-height: 42vw;
    background-attachment: fixed;
}
